@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


* {
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

body {
    display: grid;
    grid-template: 125px auto 0.5fr 0.1fr / repeat(18, 1fr);
    grid-gap: 15px;
    min-height: 100vh;
    background-color: #111;
}

.header {
    display: grid;
    grid-template: none/ repeat(12, 1fr);
    grid-column: 1 / -1;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #39CCCC;
    font-family: "Press Start 2P";
}
.header h1 {
    grid-column: 2 / 12;
    color: white;
    font-size: 23px;
    
}
.header h2 {
    grid-column: 2/ -1;
    color: white;
    font-size: 10px;
}


.projects {
    display: grid;
    grid-template: 0.1fr / repeat(12, 1fr);
    grid-column: 2/-2;
    grid-gap: 20px;
    padding-bottom: 10px;
    font-family: "Press Start 2P";
    color: white;
    background-color: inherit;
    border-radius: 10px;
    
}
.projects h3 {
    grid-column: 1/-1;
    margin-top: 30px;
    padding: 10px;
    background-color: #39CCCC;
    border-radius: 5px 20px 5px;
    font-size: 12px;
    text-align: center;
}
.projects h4 {
    grid-column: 1/-1;
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
    white-space: pre;
}
.project-thumb {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px 20px 5px;
    background-color: #39CCCC;
    grid-column: 4/10;
    
}

.description-project {
    font-size: 10px;
}


.developers {
    grid-column: 2/-2;
    color: white;
    font-family: "Press Start 2P";
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: inherit;
    border-radius: 10px;
}
.developers h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: #39CCCC;
    border-radius: 5px 20px 5px;
}
.developers h4 {
    text-align: center;
    white-space: pre;
    font-size: 8px;
    margin-top: 20px;
}

footer {
    grid-template: 1fr / repeat(12, 1fr);
    grid-column: 1/-1;
    font-family: "Press Start 2P";
    background-color: #39CCCC;
    color: white;
    padding: 10px;
}
footer p{
    font-size: 10px;
}

@media (min-width:480px) {
    .header h1{
        font-size: 35px;
    }
    .projects h3 {
        font-size: 15px;
    }
    .projects h4{
        font-size: 12px;
    }
    .developers h3 {
        font-size: 15px;
    }
    .developers h4 {
        font-size: 12px;
    }
}
